h1,h2 {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

body {
    background-color: black;
    font-size: 21px;
    text-align: center;
    font-family: Verdana;
    color: grey;
    font-weight: normal;
}

a {
    font-size: 16px;
    color: aquamarine;
}
footer {
    text-align: right;
}